@import "tailwindcss";

@theme {
  --color-enterprise-dark: #0f172a;
  --color-enterprise-card: #1e293b;
  --color-enterprise-accent: #3b82f6;
  --color-enterprise-danger: #ef4444;
  --color-enterprise-warning: #f59e0b;
  --color-enterprise-success: #10b981;
}

body {
  @apply bg-enterprise-dark text-slate-200 antialiased;
}
